# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# تجاهل node_modules
node_modules/

# تجاهل مجلدات Cypress
cypress/videos/
cypress/screenshots/

# تجاهل ملفات البيئة المحلية
.env

# تجاهل ملفات الـ log
*.log
